// Navigation Styles here
.nav-container {
    max-width: @nav-width;
    width: 100%;
    .nav-flex;
    margin: 0 auto;
    justify-content: center;
    padding: 1% 0% 1% 0%;
    border-bottom: 2px dashed @silver; 
}

.nav-name {
    justify-self: baseline;
}

.nav-links {
    width: 80%;
    .nav-flex;
    margin: 0 auto;
    justify-content: flex-end;
    
}

.nav-links a {
    padding: 2% 2% 2% 2%;
    text-decoration: none;
    color: @shark;
    font-size: 1.6rem;
}